@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "popup";

.references {
  .arrow-after {
    top: -4rem;
    right: -4.5rem;
    transform: rotate(30deg);
  }

  .container {
    .carousel {
      .carousel-indicators {
        bottom: -30px;

        li {
          width: 10px;
          height: 10px;
          margin: 5px;
          background-color: #DCDCDC;
          border-radius: 100%;

          &.active {
            background-color: #b1b1b1;
          }
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        width: 20px !important;
        display: block;

        .fas {
          font-size: 40px;
          color: #d8d8d8;
        }

        @include media-breakpoint-down(sm) {
          display: none !important;
        }
      }

      .carousel-control-prev {
        left: -30px;
      }

      .carousel-control-next {
        right: -30px;
      }
    }

    .reviews {
      .review {
        border-radius: 15px;

        .inner {
          .star-ratings-sprite {
            margin: 0 auto;
            transform: scale(0.5);

            @include media-breakpoint-down(md) {
              margin-left: -30px;
            }

            @include media-breakpoint-down(sm) {
              margin: 0 auto;
            }

            @media screen and (max-width: 355px) {
              margin-left: -10px;
            }
          }

          &:hover {
            box-shadow: 0 0 20px 0 rgba(70, 70, 70, 0.3);

            @include media-breakpoint-down(sm) {
              box-shadow: none;
            }
          }
        }
      }
    }

    .view-all {
      position: relative;

      .arrow-text {
        opacity: 0;
        position: absolute;
        top: -3.5rem;
        right: -10.5rem;
        font-size: 20px;
        font-weight: 500;
        transform: rotate(-15deg);
        color: #53554c;

        svg {
          width: 200px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}