@font-face {
  font-family: "kenteken";
  src: url("../fonts/Kenteken.ttf"); }

body {
  font-family: 'Montserrat', sans-serif;
  color: #53554c; }

i.fas {
  font-size: 24px; }

.spacer {
  background: purple;
  height: 800px; }

.container-fluid {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background: white; }

.popover {
  z-index: 4 !important; }

.highlighted {
  opacity: 1 !important;
  transition: opacity 200ms; }

.container-fluid:after {
  content: '';
  position: absolute;
  left: 0;
  /* make full width */
  right: 0;
  /* make full width */
  margin-left: auto;
  /* set to center */
  margin-right: auto;
  /* set to center */
  width: 4.5rem;
  /* Width makes the tip of the triangle flat. 0 for just a pointy tip */
  z-index: 1;
  /* Used to keep the triangle visible on top of the next div below the current div */
  border-top: 1.5rem solid white;
  /* Determines the height and the color of the triangle */
  border-left: 2rem solid transparent;
  /* Determines the width of the triangle together with the border-right */
  border-right: 2rem solid transparent;
  /* Determines the width of the triangle together with the border-left */
  bottom: -1.5rem;
  /* Positions the triangle below the div by setting this value to the same value as the border-top */ }

.container-fluid:nth-child(even) {
  background-color: #f6f6f6;
  /* Alternate background-color */ }
  .container-fluid:nth-child(even) .sr-card {
    background: white; }
  .container-fluid:nth-child(even):after {
    border-top: 1.5rem solid #f6f6f6;
    /* Alternate triangle color */ }
  .container-fluid:nth-child(even) .serviceright-garages .brands {
    border-top: 1px solid #f6f6f6 !important; }

.without:after {
  border: unset !important;
  /* Unset the border to make the triangle disappear */ }

.arrow-cube::after {
  background-color: #f6f6f6;
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  content: "\00a0";
  display: block;
  height: 25px;
  left: 0;
  right: 0;
  bottom: -12.5px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 25px; }

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.img {
  width: 100%;
  height: 150px;
  background: no-repeat center #b1b1b1;
  background-size: contain; }

.clickable {
  cursor: pointer; }

.card .inner {
  border-radius: 15px; }
  .card .inner .img {
    border-radius: 15px 15px 0 0; }

.submenu-open {
  background: #e7e7e7; }

.primary-blue {
  color: #309dd5; }

.dropdown-target {
  display: none; }

.link-unstyled {
  color: #4e4e4e; }
  .link-unstyled:hover {
    color: #4e4e4e; }

.btn {
  position: relative; }
  .btn p {
    margin: 0; }
  .btn:hover:before, .btn:hover:after {
    cursor: default; }

.btn-cta {
  position: relative;
  color: #353535;
  background-color: #ffc800;
  border: 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 15px;
  min-height: 42px;
  height: 42px;
  width: 100%;
  font-size: 22px;
  padding: 4px 0;
  text-decoration: none; }
  .btn-cta:hover {
    color: #353535;
    background-color: #ffce1a; }
  .btn-cta:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  @media (max-width: 1199.98px) {
    .btn-cta {
      font-size: 18px;
      padding: 8px 0; } }
  @media (max-width: 767.98px) {
    .btn-cta {
      font-size: 15px;
      padding: 10px 0; } }

.white-arrow path {
  stroke: white !important; }

svg {
  stroke: #53554c !important; }
  svg * {
    stroke: #53554c !important; }

.selectize-input {
  background: url("../img/dropdown-arrow.svg") no-repeat right 0.5rem center;
  background-size: 12px; }

.optgroup-header {
  color: #309dd5 !important; }

.arrow-before {
  position: absolute;
  top: -7rem;
  left: 0;
  width: 80px;
  height: 80px;
  opacity: 0;
  -moz-transform: scaleX(-1) rotate(-20deg);
  -o-transform: scaleX(-1) rotate(-20deg);
  -webkit-transform: scaleX(-1) rotate(-20deg);
  transform: scaleX(-1) rotate(-20deg);
  filter: FlipH;
  -ms-filter: "FlipH"; }
  .arrow-before svg {
    stroke: #53554c; }
  @media (max-width: 991.98px) {
    .arrow-before {
      display: none; } }

.arrow-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  opacity: 0; }
  .arrow-after svg {
    stroke: #53554c; }
  @media (max-width: 991.98px) {
    .arrow-after {
      display: none; } }

.arrow-animate {
  opacity: 1 !important; }
  .arrow-animate path {
    fill-opacity: 0;
    stroke: #53554c;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 3s ease-out forwards;
    animation-delay: 0.3s; }
  @media (max-width: 991.98px) {
    .arrow-animate {
      display: none; } }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.star-ratings-sprite {
  background: url("../img/star_sprite_xxs_correct_svg.svg") repeat-x;
  background-size: 2.2rem;
  height: 2.5rem;
  overflow: hidden;
  width: 11rem; }
  @media (max-width: 991.98px) {
    .star-ratings-sprite {
      transform: scale(0.5);
      margin-left: -45px; } }

.star-ratings-sprite-rating {
  background: url("../img/star_sprite_xxs_correct_svg.svg") repeat-x;
  background-size: 2.2rem;
  background-position: 0 100%;
  float: left;
  height: 2.1rem;
  display: block; }

.white {
  color: white !important; }

.font-small {
  font-size: 17px !important; }
  @media (max-width: 991.98px) {
    .font-small {
      font-size: 13px !important; } }

.title {
  font-weight: bold;
  color: #53554c;
  font-size: 35px; }
  @media (max-width: 767.98px) {
    .title {
      font-size: 24px; } }

.close {
  position: absolute;
  right: 15px;
  top: 5px; }

.close-inverse {
  color: white;
  position: absolute;
  right: 15px;
  top: 5px; }
  .close-inverse:hover {
    color: white; }
  .close-inverse:active, .close-inverse:focus, .close-inverse:visited {
    outline: none !important;
    color: white !important; }

.title-inverse {
  color: white; }

.subtitle {
  font-size: 24px;
  color: #53554c; }
  @media (max-width: 991.98px) {
    .subtitle {
      font-size: 17px; } }

.subtitle-inverse {
  color: white; }

.second-title {
  font-size: 24px;
  color: #53554c;
  font-weight: bold; }

.sr-text {
  color: #53554c; }

.sr-card {
  border-radius: 15px;
  transition: box-shadow 200ms;
  background: #f6f6f6; }
  .sr-card:hover {
    box-shadow: 0 0 20px 0 rgba(70, 70, 70, 0.3); }
  .sr-card.card .img {
    border-radius: 15px 15px 0 0; }

.no-background {
  background-color: transparent; }

.popup-on-hover {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 8px;
  font-size: 17px;
  border-radius: 15px;
  transition: box-shadow 200ms;
  background: #f6f6f6;
  box-shadow: 0 0 20px 0 rgba(70, 70, 70, 0.3);
  margin-bottom: 25px; }
  .popup-on-hover p {
    font-size: 15px;
    z-index: 1;
    position: relative; }
  .popup-on-hover .arrow-cube:after {
    border-top-color: #f6f6f6; }

.modal.fade .modal-dialog {
  transform: none !important;
  transition: all 1s !important; }

.popover {
  border-radius: 15px;
  background: #f6f6f6;
  box-shadow: 0 0 20px 0 rgba(70, 70, 70, 0.3);
  transition: 1s opacity; }

.licenseplate-input {
  font-family: "kenteken", sans-serif !important; }

.modal-header {
  border-bottom: none !important; }
